/* Footer CSS Start  */

footer {
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #24023b, #31084c);
  color: #fff;
  padding: 70px 0 30px;
  line-height: 20px;
}

.footer_row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.coll {
  flex-basis: 25%;
  padding: 10px;
}

.coll:nth-child(2),
.coll:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}

.coll h3 {
  font-size: 24px;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}


.coll p {
  font-size: 16px;

}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}


ul li {
  list-style: none;
  margin-bottom: 12px;
}


ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

ul li a:hover {
  text-decoration: none;
  color: #828282;
}


#form1 {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form far {
  font-size: 18px;
  margin-right: 12px;
}


form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  margin-left: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons .fab:hover {
  transform: translateY(-5px);
  cursor: pointer;

}

#line {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;

}

.copyright {
  text-align: center;
  margin-bottom: 0px;
}




.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

/* -------------Contact us Button start   in footer--------- */
.custom-button {
  padding: 0.7rem 2rem;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.custom-button:hover {
  background-color: rgba(0, 123, 255, 0.1);
  transform: translateY(-5px);
  cursor: pointer;
}




@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }

  .coll {
    flex-basis: 100%;
  }

  .coll:nth-child(2),
  .coll:nth-child(3) {
    flex-basis: 100%;
  }
}

/* Footer End */


/* Features section of 3  componenets   */
.features-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f0f4fc;
  width: 100%;
  height: 100%;
}

.features-section h2 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #000;
}

.subheadingtwo {
  color: #333;
  font-size: 27px;
  max-width: 800px;
  margin: 0 auto 40px auto;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.feature-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.feature-item i {
  font-size: 36px;
  color: #6c5ce7;
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000;
}

.feature-item p {
  color: #666;
  font-size: 16px;
  margin: 0;
}

/* FEatures section of 3  componenets    end ----------*/


/* FEatures section of 2  componenets Starts   */
.why-choose-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #955EFC 15%, #ecf4fd 15%);
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
}

.content-wrapper2 {
  display: flex;
  /* max-width: 1300px; */
  margin: 0 50px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 10px; */
  /* padding-top: 100px; */
  width: 90%;
  position: relative;

}

.image-section img {
  max-width: 60%;
  height: auto;
  border: 10px solid #a29bfe;

}

.text-section {
  padding: 40px;
  width: 80%;
}

.text-section ul {
  list-style: none;
  padding: 0;
}

.text-section li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.check-icon {
  font-size: 24px;
  color: #a29bfe;
  margin-right: 10px;
}

/* FEatures section of 2  componenets end   */




/* Landing page ------------------------------------------------ */

.medireg-section {
  background-color: #ECF5FE;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 95vh;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 200px;

}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background-color: #6f42c1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.medireg-icon {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.brand-name {
  color: #fff;
  background-color: #6f42c1;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 4px;
}

.main-heading {
  font-size: 3.4vw;
  font-weight: bolder;
  color: #333;
  margin-bottom: 15px;
}

.subheading {
  font-size: 1.9vw;
  color: #4c4c4c;
}

.decoration {
  position: absolute;
}

.left-circle {
  top: -50px;
  left: -50px;
  width: 280px;
  height: 280px;
  background-color: #6f42c1;
  border-radius: 50%;
}

.right-cylinder {
  top: -502px;
  right: -205px;
  width: 316px;
  height: 1285px;
  background-color: #955EFC;
  border-radius: 164px / 150px;
  transform: rotate(231deg);
}

.right-cylinder-2 {
  top: -328px;
  right: -12px;
  width: 172px;
  height: 739px;
  transform: rotate(231deg);
  background: linear-gradient(to bottom,
      #E4D9FC 0%,
      #C2A9F9 50%,
      #AE8AF5 100%);
  border-radius: 139px / 150px;

}

.bottom-logos {
  position: absolute;
  bottom: 20px;
  gap: 29px;
  display: flex;
  align-items: center;
  z-index: 2;
  right: 300px;
}

.institute-logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.india-map {
  width: 127px;
  height: auto;
  fill: #6f42c1;
  margin-top: 36px;
}


/* Landing Page End  */




/* contact us form    */


/* Contact Us Form  start  */
.contact_us_2 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_2 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_2 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_2 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_2 .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #0381fe;
}

.contact_us_2 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  height: auto;
}

.contact_us_2 .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
  background-color: white;
  max-width: 799px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
  font-size: 40px;
  line-height: 50px;
}

.contact_us_2 .text-blk.contactus-subhead {
  color: #9c9c9c;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_2 .input {
  width: 96%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
  width: 98%;
  background-color: #a78ae2;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.contact_us_2 .form-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .link-img {
  width: 30px;
  height: 30px;
}

.contact_us_2 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #3e3e3e;
}

.contact_us_2 ::placeholder {
  color: #858585;
}

.contact_us_2 .blueBG {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 300px;
  background-color: #03a9f4;
}

@media (max-width: 768px) {
  .contact_us_2 .submit-btn {
    width: 100%;
  }

  .contact_us_2 .input {
    width: 100%;
  }

  .contact_us_2 .textinput {
    width: 100%;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .contact_us_2 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .contact_us_2 .input {
    height: 45px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');



/* Contact Us Form  end  */

/* Conatct Us Form Responsiveness  */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}





/* Media query for mobile devices */
@media (max-width: 767px) {

  /* 1st section */
  .medireg-section {
    height: 90vh;
  }

  .medireg-section .content-wrapper {
    text-align: center;
    margin-left: 30px;
    justify-content: center;
    width: 77%;
  }

  .left-circle {
    display: none;
  }

  .right-cylinder {
    display: none;
  }

  .right-cylinder-2 {
    display: none;
  }

  .medireg-section .coll {
    margin-bottom: 20px;
  }

  .medireg-section .logo {
    width: 75%;
  }

  .medireg-section .main-heading {
    font-size: 2.0rem;
  }

  .medireg-section .subheading {
    font-size: 1.2rem;
  }

  .medireg-section .bottom-logos {
    right: 95px;
  }

  /* 2nd section */
  .why-choose-us .content-wrapper2 {
    flex-direction: column;
    text-align: center;
  }

  .why-choose-us .image-section,
  .why-choose-us .text-section {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .why-choose-us .image-section img {
    width: 80%;
    max-width: 250px;
  }

  .why-choose-us p,
  .why-choose-us ul li {
    text-align: justify;
    padding: 0 15px;
    margin: 10px 0;
  }

  .why-choose-us li p {
    padding: 0;
  }

  /* 3rd section */
  .features-section .features-grid {
    display: block;
  }

  .features-section .feature-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .features-section .feature-item i {
    font-size: 2rem;
  }

  .features-section .feature-item h3 {
    font-size: 1.2rem;
  }

  .features-section .feature-item p {
    font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
}


/* =========== Main pages CSS =========== */
.section {
  display: none;
  width: 100%;
  height: auto;
  /* Changed from 100% to auto for better responsiveness */
  display: none;
  position: relative;
  /* Changed from absolute to relative for better responsiveness */
  margin: 0;
}

.section.active {
  display: block;
}

.section-container {
  width: 100%;
  height: auto;
  /* Changed from 100vh to auto for better responsiveness */
  overflow: hidden;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.img-fluid {
  width: 100%;
  height: 10%;
}

/* =========== Navbar CSS =========== */

.navbar-nav {
  align-items: center;
}

.navbar-custom {
  background-color: rgb(140, 82, 255);
}

.navbar-brand img {
  width: 50%;
  /* Increased size for better visibility on smaller screens */
  max-width: 165px;
  /* Added max-width for better scaling */
}

.nav-link {
  font-size: 1rem;
  /* Adjusted font-size for better readability on mobile */
  color: white !important;
  transition: transform 0.4s ease, color 0.3s ease;
  font-family: 'Open Sans';
}

.nav-link:hover {
  color: rgb(163, 163, 163) !important;
  transform: scale(1.1);
}

.nav-link.active {
  color: rgb(163, 163, 163) !important;
}

/* =========== Carousel CSS =========== */

.card-header {
  background-color: rgb(140, 82, 255);
}

.btn-link {
  color: white;
}

.card-body {
  background-color: #ECF4FD;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-container img {
  width: 90%;
  height: auto;
  /* Changed from 800px to auto for responsive height */
  object-fit: cover;
  border: 2px solid var(--primary-purple);
  border-radius: 10px;
}

.image-container p {
  text-align: center;
  margin-top: 10px;
}

/* ============ Contact Form CSS =============== */
.contact-form {
  background: #fff;
  padding: 1vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

.contact-form h2 {
  margin-bottom: 30px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 767px) {
  .image-container img {
    width: 100%;
  }

  .why-choose-us {
    background: #E9DEFF;
  }

  .why-choose-us .text-section {
    margin-top: 25px;
  }

  .features-section h2 {
    font-size: 1.5rem;
  }

  .features-section .subheadingtwo {
    font-size: 1rem;
  }

  .platform_display .row {
    padding: 15px 15px !important;
  }

  .india-map {
    width: 90px;
    margin-top: 23px;
  }

  .institute-logo {
    width: 70px;
  }

  .check-icon {
    display: none;
  }
}

.footercols {
  margin-bottom: 5%;
  padding-left: 2%;
}




/* Services comp 1 starts  */


.services {
  display: flex;
  background: linear-gradient(to right, var(--light-blue) 85%, var(--primary-purple)  15%);
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
}

.services-content {
  flex: 1;
  padding: 2rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.service-item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.service-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 1rem;
}

.service-icon svg {
  width: 100%;
  height: 100%;
  stroke: var(--primary-purple);
}

.service-item h4 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.service-item p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

.services-image {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-image img {
  max-width: 100%;
  border: 5px solid var(--primary-purple);
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .services {
    flex-direction: column;
    background: var(--light-blue);
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-image {
    margin-top: 2rem;
  }
}

/* Services comp 1 ends  */



/* Services Section  component 2 starts  */


:root {
  --primary-purple: #8c52ff;
  --light-blue: #ecf4fd;
  --dark-text: black;
  --light-text: #666666;
}



.analytics-dashboard {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--light-blue);
}

.analytics-dashboard::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background-color: var(--primary-purple);
  z-index: 1;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.features {
  display: flex;
  gap: 2vw;
  margin-bottom: 4vh;
}

.feature-card {
  background-color: white;
  padding: 2vh 2vw;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-1vh);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  color: var(--dark-text);
  font-size: 2.2vh;
  margin-bottom: 1vh;
}

.feature-card p {
  color: var(--light-text);
  font-size: 1.6vh;
  line-height: 1.5;
}

.right-content {
  width: 45%;
  display: flex;
  align-items: center;
}

.dashboard-preview {
  width: 100%;
}

.dashboard-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 5px solid blueviolet;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    width: 100%;
  }

  .features {
    margin-bottom: 4vh;
  }

  .right-content {
    margin-top: 4vh;
  }
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }
}

/* Services Section  component 2 end */






/* Founder Section  Starts*/



.founder-sectionab {
  font-family: Arial, sans-serif;
  background-color: #f3e8ff;
  padding: 50px 9%;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleab {
  font-size: 3vw;
  color: #6200ee;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitleab {
  font-size: 1.5vw;
  color: #6200ee;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.content-wrapperab {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.profile-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s ease;

}

.profile-card:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

.profile-imageab {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;


}


.nameab {
  font-size: 1.5vw;
  margin-bottom: 5px;
  font-weight: 700;
}

.roleab {
  color: #6200ee;
  font-size: 1vw;
  margin-bottom: 15px;
}

.dividerab {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 15px 0;
}

.education,
.institute,
.experience {
  margin: 5px 0;
  font-size: 0.9vw;
}

.bio {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 65%;
  align-content: center;
}

.bio p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 24px;
}

.decorationab {
  position: absolute;
  background-color: #955EFC;
  opacity: 1.1;
  border-radius: 50%;
}

.top-leftab {
  width: 30vw;
  height: 30vw;
  top: -15vw;
  left: -15vw;
}

.bottom-rightab {
  width: 40vw;
  height: 40vw;
  bottom: -20vw;
  right: -20vw;
}

@media (max-width: 768px) {
  .founder-section {
    padding: 30px 5%;
  }

  .title {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 3vw;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .profile-card,
  .bio {
    width: 90%;
    margin-bottom: 30px;
  }

  .name {
    font-size: 4vw;
  }

  .role,
  .education,
  .institute,
  .experience,
  .bio p {
    font-size: 3vw;
  }
}

/* Founder Section  ends*/


/* Section 1  starts  About us */

.mission-section {
  font-family: Arial, sans-serif;
  background-color: #ecf4fd;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.mission_row {
  justify-content: center;
}

.mission_card {
  margin: 1vh 2vw;
  padding: 1vh 3vw;
  justify-content: center;
}

.mission_heading {
  font-size: 28px;
  letter-spacing: 6px;
  color:rgb(140, 82, 255);
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

.mission_head_para {
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

.mission_para {
  font-size: 25px;
  /* font-weight: 200; */
  font-family: 'Rubik', sans-serif;
  border: 0px;
}

.mission_row .mission_para {
  background: transparent;
}

.mission_list_head {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

.mission_list {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

.platform_head {
  font-size: 42px;
  font-weight: 550;
  font-family: 'Rubik', sans-serif;
}

.platform_para {
  font-size: 22px;
}

@media (max-width: 767px) {
  .mission_heading {
    font-size: 1.6rem;
  }

  .mission_head_para {
    font-size: 1.9rem;
    font-weight: 600;
  }

  .mission_para {
    font-size: 1.1rem;
  }

  .titleab {
    font-size: 1.6rem;
  }

  .subtitleab .dashboard-title {
    font-size: 1.3rem;
  }

  .why-choose-us .mission_heading {
    font-size: 1.4rem;
  }

  .why-choose-us .mission_head_para {
    font-size: 1.8rem;
    text-align: center;
    display: none;
  }

  .why-choose-us .mission_list_head {
    text-align: center;
    font-size: 1.4rem;
  }

  .why-choose-us .mission_list {
    font-size: 1.1rem;
  }

  .why-choose-us .mission_para {
    display: none;
  }

  .why-choose-us ul li {
    justify-content: left;
  }

  .platform_head {
    font-size: 2.3rem;
    font-weight: 550;
    font-family: 'Rubik', sans-serif;
    margin-top: 30px;
  }
  
  .platform_para {
    font-size: 1.2rem;
  }
  
}